.box_friend{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  width: 50%;
  height: 50%;
  border-radius : 10px;
  background-color: #FBE9CA;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content_friend{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   
    
}